{% extends '_layouts/detail-entry.njk' %}

{% set entry = data.entries[1] %}

{% block page_title %}Blog entry title{% endblock %}

{% block description %}Blog entry description.{% endblock %}

{% block story %}
  <img src="img/kraken02.jpg" class="img-fluid" alt="Responsive image">
  <h1>{{ entry.title }}</h1>
  <h5>Captain's log: {{ entry.date }}</h5>
  <p>Fire ship Sink me hardtack hearties league lass Privateer Nelsons folly broadside rum. Cutlass topmast parley bowsprit scallywag scuppers mizzenmast belaying pin pillage aye. Handsomely log cable mutiny pirate doubloon nipperkin bilge rat overhaul yard.</p>
  <p>Belay bowsprit lass aye man-of-war lanyard Letter of Marque bilge trysail Yellow Jack. Careen brigantine poop deck tackle lugger yawl gun jib dance the hempen jig flogging. Sutler yo-ho-ho hail-shot line cutlass rum yawl doubloon Plate Fleet grapple.</p>
  <p>Smartly hulk pirate avast mutiny jury mast mizzen doubloon Brethren of the Coast aft. Draught loaded to the gunwalls shrouds Spanish Main deadlights jury mast jib come about crow’s nest long boat. Mutiny Brethren of the Coast aye parrel splice the main brace pink lee bring a spring upon her cable swing the lead killick.</p>
{% endblock %}