{% extends '_layouts/base.njk' %}

{% block page_title %}The Ship's Log{% endblock %}

{% block page_description %}A daily blog from Capt. Crit McGillicutty.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      <h1>It's a pirate's life for me...</h1>
      <p>Follow my sailing journey across the seven seas -- fighting sea creatures, saving damsels, and finding treasures and riches.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      {% for entry in data.entries %}
        <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
        <p class="entry-date">{{ entry.date }}</p>
        <hr>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
